body{
    background: linear-gradient(to left,blue,green);
    text-align: center;
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    font-size: 2em;
}
h2{
    font-size: 2em;
}

